<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель админки</title>
    <a href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"></a>
</head>

<body>

    <div>
        <form th: action="@{/panel}">
        <input type="text" name="name">
        <label>Введите имя</label>
        <input type="text" name="password">
            <label> Ввести пароль</label>
        </form>
    </div>


</body>
</html>