<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <a href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"></a>
    <meta http-equiv="Content-Type " content="text/html; charset=UTF-8">
    <title>Cписок всех товаров</title>
</head>

<body>

<!--/*@thymesVar id="product" type=""*/-->
<div>
    <td  th:object="${product}" method="GET"><br/>
        <tr th:field = "*{name_product}}" >Название продукта</tr><br/>
        <tr th:field ="*{final_price}"> Цена товара</tr>
        </td>
</div>

<div>
  <p>Новенький? Перейди
      <a th:href = "@{/register}">по ссылке</a>зарегистрироваться.</p>
    </span>
</div>



</body>
</html>