<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">

<head>
    <a href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"></a>
    <meta http-equiv="Content-Type " content="text/html; charset=utf-8" />

    <title>Registation page</title>

</head>
<body>

<h1>Registration</h1>
<br>
    <h1 >Ввеведите ваш логин, пароль, email </h1></br>

        <form method="POST" th:action="@{/customers}"  th:object="${customer}">
            <h2>Введите ваши данные в поля</h2></br>
            <br>
        <input type="text" name="name" class="form-control"/>
                <label>Name</label></br>
                 <input type="text" password="password" class="form-control"/>
            <label >Password</label></br>

            </table>
            <div >
                <span>
            <button type="submit">Зарегать себя</button>
                    </span>
                </div>
        </form>
</div>
    </body>
</html>