<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
        xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Registation page</title>
</head>
<body>
<h1>Registration</h1>
<!--/*@thymesVar id="customer" type=""*/-->
    <div class="d-flex p-2 bd-highlight">

        <form th:action="@{/register}" method="post" th:object="${customer}">
            <!--/*@thymesVar id="product" type=""*/-->


                <span class="border border-success">
                      <input type="text" th:field="*{name}"/>
            <label>Name</label>

            <br/>
            <!--suppress ThymeleafVariablesResolveInspection -->
                     <input type="text" class="text-center" th:field="*{email}">
            <label >Email:</label>

            <br/>
                    <input type="text" class="text-center" th:field="*{phoneNumber}">
            <label>Phone number:</label>


            </span>

            <button   th:href="@{/register} " type="submit" class = "close"  aria-label="Close">Registrate</button>
        </form>

    </div>
    </body>
</html>